[Unit]
Description=Lamp stuff
Requires=lamp-module.service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/controller

[Install]
WantedBy=multi-user.target
Alias=lamp.service
